
<div class="top">
  <div class="banner text-center">
    <h1>Cocktails</h1>
  </div>
  <div class="container">
      <div class="cards mt-3">
        <% @cocktails.each do |cocktail| %>
            <div class="card-category">
                <div class="inner-card">
                  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
                </div>
            </div>
        <% end %>
      </div>
      <br>
    <%= button_to 'Add a cocktail', new_cocktail_path,  method: "get"%>
  </div>
</div>
